<html dir="ltr" lang="en" ng-app="application">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers/home.js"></script>
  </head>

  <body ng-controller="HomeController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
            <img style="max-width:100px; margin-top: -7px;" src="https://www.google.com/favicon.ico">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <p class="navbar-text">Welcome to Image Previewer!</p>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text">Hi, Daniel!</p>
            </li>
            <li>
              <a class="glyphicon glyphicon-log-out" href="signin.html"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="divider">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="search">
            <div class="form-group">
              <div class="left-menu">
                <input type="seachbar" class="form-control" id="searchbar" placeholder="Search here" ng-model="searchByKeyword">
              </div>
              <div class="right-menu">
                <button class="btn btn-primary" ng-click="filterSearch = searchByKeyword">Search by keyword</button>
              </div>
            </div>
          </form>

          <div class="filter">
            <p>e.g. <a href="" ng-click="myFilter = {}">all</a> <a href="" ng-click="myFilter = {name: 'Computer'}">computer</a> <a href="" ng-click="myFilter = {name: 'Woman'}">woman</a>
                    <a href="" ng-click="myFilter = {name: 'Animals'}">animals</a> <a href="" ng-click="myFilter = {name: 'Man'}">man</a> <a href="" ng-click="myFilter = {name: 'Business'}">business</a>
                    <a href="" ng-click="myFilter = {name: 'Work'}">work</a> <a href="" ng-click="myFilter = {name: 'Nature'}">nature</a> <a href="" ng-click="myFilter = {name: 'City'}">city</a>
            </p>
          </div>

          <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
              <div class="thumbnail">
                <img src="" alt="">
                <div class="caption">
                  <h3>Feature Label</h3>
                  <p></p>
                  <p>
                      <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="image in images | filter:myFilter| filter:filterSearch">
              <div class="thumbnail">
                <img src="{{image.src}}" alt="">
                <div class="caption">
                  <h3>{{image.name}}</h3>
                  <p>{{image.id}}</p>
                  <p>
                      <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
